* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
}

.img {
  background-image: url(./img/prato.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 50vw;
  height: 100vh;
}

.card {
  width: 50vw;
  max-height: 100vh;
  background-color: rgb(212, 235, 212);
  text-align: center;
}

.titulo-principal {
  color: rgb(86, 138, 86);
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  padding-bottom: 15px;
}

.titulo-card {
  color: rgb(86, 138, 86);
  padding-bottom: 20px;
}

fieldset {
  border: none;
}

.input-container {
  position: relative;
  margin-top: 5px;
  padding-top: 10px;
}

.label-input {
  position: absolute;
  font-size: 13px;
  color: rgb(23, 63, 7);
}

.input {
  width: 300px;
  height: 35px;
  display: inline-block;
  background-color: rgb(212, 235, 212);
  border: none;
  border-bottom: 1px solid rgb(4, 77, 4);
  outline: none;
  font-size: 10px;
  padding: 20px;
}

button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid rgb(140, 189, 84);
  border-radius: 10px;
  color: rgb(23, 63, 7);
}

button:hover {
  cursor: pointer;
  background-color: rgb(140, 189, 84);
}
